html, body {
    background-color: #313131;
    background-image: linear-gradient(to bottom, #181818, #000000);
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    user-select: none;
  }

  canvas { 
    width: 100%; height: 100%; 
  }

.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: auto;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #ededed, #cdcdcd);
    border: 2px solid #000;
    font-family: 'Courier New', Courier, monospace;
  }

  #window1 {
    left: 80%;
    top: 20%;
  }

  #window2 {
    left: 20%;
    top: 40%;
  }

  #window4 {
    width: 400px;
  }

  #window4 .mcoreLogo {
    width: 40px; /* set the width */
    height: 40px; /* set the height */
  }

  #window5 {
    left: 60%;
    top: 70%;
    width: 300px;
  }

  #window4 .content {
    text-align: center;
    max-height: 300px;
    max-width: 500px;
    overflow-y: auto;
  }

  #window4 .toolbar {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #window4 .item {
    background-color: #4d4d4d;
    background-image: linear-gradient(to bottom, #a5a5a5, #868686);
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5), inset -1px -1px 0 rgba(0, 0, 0, 0.5), 2px 2px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  #window4 .item:hover {
    background-color: #c0c0c0;
    background-image: linear-gradient(to bottom, #e8e8e8, #868686);
  }

  #window4 .item:active {
    /* ... */
    background-image: linear-gradient(to bottom, #262626, #868686);
  }

  .window ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  .window ::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5), inset -1px -1px 0 rgba(0, 0, 0, 0.5), 2px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0px;
  }
  
  .window ::-webkit-scrollbar-track {
    background-color: #5e5e5e;
    border: 2px solid #808080;
    border-radius: 0px;
  }
  
  .window ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 76%);
  }
  .window ::-webkit-scrollbar-thumb:active {
    background-color: #282828;
  }
  
  .window ::-webkit-scrollbar-corner {
    background-color: #f0f0f0;
    border: 2px solid #808080;
    border-radius: 0px;
  }
  
  .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4d4d4d;
    background-image: linear-gradient(to bottom, #a5a5a5, #868686);
    color: #000000;
    padding: 5px;
    cursor: move;
  }
  
  .title {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
  }
  
  .close-button {
    /* ... */
    background-color: #4d4d4d;
    background-image: linear-gradient(to bottom, #a5a5a5, #868686);
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5), inset -1px -1px 0 rgba(0, 0, 0, 0.5), 2px 2px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: #ff0000;
    background-image: linear-gradient(to bottom, #ff0000, #868686);
  }

  .close-button:active {
    /* ... */
    background-image: linear-gradient(to bottom, #240000, #868686);
  }
  
  .content {
    padding: 10px;
    

    -webkit-user-drag: none; /* Safari */
    -khtml-user-drag: none; /* Konqueror */
    -moz-user-drag: none; /* Firefox */
    -o-user-drag: none; /* Opera */
  }


  .content img {
    /* Add max-width and max-height of 100% to make the image scale to the size of the window */
    max-width: 100%;
    max-height: 100%;
    
    -webkit-user-drag: none; /* Safari */
    -khtml-user-drag: none; /* Konqueror */
    -moz-user-drag: none; /* Firefox */
    -o-user-drag: none; /* Opera */
  }

  .content button {
    /* ... */
    margin-top: 5px;

    background-color: #4d4d4d;
    background-image: linear-gradient(to bottom, #a5a5a5, #868686);
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5), inset -1px -1px 0 rgba(0, 0, 0, 0.5), 2px 2px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .content button:hover {
    /* ... */
    background-image: linear-gradient(to bottom, #ffffff, #868686);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5), inset -1px -1px 0 rgba(0, 0, 0, 0.5), 2px 2px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .content button:active {
    /* ... */
    background-image: linear-gradient(to bottom, #181818, #868686);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5), inset -1px -1px 0 rgba(0, 0, 0, 0.5), 2px 2px 0 rgba(0, 0, 0, 0.5);
  }


/* CRT */

.monitor {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(to bottom, #ff0000, #868686);
    overflow: hidden;
  }
  
  .screen {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #000;
    border-radius: 0px;
    overflow: hidden;
  }
  
  .line {
    align-self: center;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: rgb(255, 255, 255); /* replace with your own color */
    animation: flicker 0.1s infinite, scroll 10s linear infinite;
    z-index: 100;
  }

  .overlay {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/src/crt.png'); /* replace with your own overlay image */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* set the opacity level of the overlay */
    animation: flicker2 0.1s cubic-bezier(.4,.25,.26,1.26) infinite;
    z-index: 101;
  }
  
  
  @keyframes flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }

    
  }

  @keyframes flicker2 {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.45;
    }
    100% {
      opacity: 0.5;
    }

    
  }

  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100vh);
    }
  }